.idea
.temp
.astro

# build output
dist/
.output/

# dependencies
node_modules/

scripts/developer-roadmap

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
/test-results/
/playwright-report/
/playwright/.cache/
tests-examples
*.csveditor/

# CSV output files from InterviewTemplates
InterviewTemplates/csv_output/*.csv

# Excel interview templates from InterviewTemplates
InterviewTemplates/Interviews/generated/*.xlsx

packages/editor